// Specific CSS for your home-page

.btn-cta {
    background-color: $main-blue;
    width: 200px;
}

.search-checkboxes input[type="checkbox"] {
    height: 1em;
    width: 1em;
    margin-bottom: 3px;
    vertical-align: middle;
    margin-right: 10px;
}