<div class="col-md-9 pl-0">
    <%= link_to like_path(@user_like), method: :delete, data: {confirm: "Oled kindel, et soovid eemaldada, et otsid korterikaaslasi selle kuulutuse jaoks?"} do %>
        <button type="button" class="btn btn-primary mt-3 ml-0">
            Eemalda, et otsid korterikaaslasi
        </button>
    <% end %>
</div>