
.swiper-slide {
    display: flex;
    justify-content: center;
}


.container-for-slideshow {
    display: flex;
    flex-direction: column;
}

.page-numbers {
    color: white;
    text-emphasis: emphasis;
}