.apartment-slide {
    width: 600px;
    height: 400px;
}

.apartment-slide-container {
    width: 600px;
    height: 400px;
}

.container-for-slideshow {
    display: flex;
    flex-direction: column;
}

.page-numbers {
    color: white;
    text-emphasis: emphasis;
}