// SIDEBAR
.sidebar-list {

    list-style: none;
  }
  
  .sidebar-item {
    padding: 10px 0;
    font-size: 1.1rem;
    color: $body-color;
  }
  
  .sidebar-link {
    color: $body-color;
    text-decoration: none;
  }
  
  .sidebar-link:hover, .sidebar-link:focus {
    color: $body-color;
    text-decoration: none;
  }
  
  .active.sidebar-link {
    color: $body-color;
    text-decoration: none;
  }