.buttons-vertical-wrapper {
    display: flex;
    flex-direction: column;
}

.buttons-vertical-wrapper input {
    margin-right: 10px; 
}

// input[type="file"]  {
//     display: none;
// }

.custom-file-upload {
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 6px 12px;
    cursor: pointer;
}

.new-apartment-form .img-thumbnail {
    visibility: hidden;
}

.new-apartment-form input[type="checkbox"] {
    height: 1em;
    width: 1em;
    margin-bottom: 3px;
    vertical-align: middle;
}

.new-apartment-form .show-prev {
    visibility: visible;
}


