/*
*= require aos
*= require font-awesome
*/

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';
@import "flatpickr/airbnb";
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';



// Your CSS partials
@import "components/index";
@import "pages/index";

.ui-sortable-placeholder { 
  border: 1px dashed black!important; 
  visibility: visible !important;
  background: #eeeeee78 !important;
}

.ui-sortable-placeholder * { visibility: hidden; }

.RearangeBox.dragElemThumbnail{ opacity:0.6; }

.RearangeBox {
    width: 180px;
    height:240px;
    padding:10px 5px;
    cursor: all-scroll;
    float: left;
    border: 1px solid #9E9E9E;
    font-family: sans-serif;
    display: inline-block;            
    margin: 5px!important;
    text-align: center;
    color: #000;
    background: #e9ecef;
}

.IMGthumbnail{
  max-width:168px;
  height:175px;
  margin:auto;
  background-color: #ececec;
  padding:2px;
  border:none;
}

.IMGthumbnail img{
  max-width:100%;
  max-height:100%;
}

.imgThumbContainer{
  margin:4px;
  border: solid;
  display: inline-block;
  justify-content: center;
  position: relative;
  border: 1px solid rgba(0,0,0,0.14);
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
}

.imgThumbContainer > .imgName{
  text-align:center;
  margin-top:4px;
  font-size:13px;
  overflow: hidden;
}

.imgThumbContainer > .imgRemoveBtn{
  position: absolute;
  color: #ff0000ba;
  right: 7px;
  bottom: 6px;
  cursor: pointer;
  display: none;
}

.RearangeBox:hover > .imgRemoveBtn{ 
  display: block;
}

.sortable {
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sortable li {
  float: left;
  width: 120px;
  height: 120px;
  overflow:hidden;
  border:1px solid red;
  text-align: center;
  margin:5px;
}

li.sortable-placeholder {
  border: 1px dashed #CCC;
  background: none;
}
